<div id="popup-content">
  <h2><%= store.name %></h2>
  <p>Address: <%= store.address %></p>
  <p>Opening Time: <%= store.opening_time %></p>
  <p>Closing Time: <%= store.closing_time %></p>
  <p>Max Cash: <%= store.max_cash %></p>
</div>
