<body style="background-image: none">
 <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
  <div class="hero">
    <div id="navhome" data-controller="flag" data-flag-key-value="<%= ENV['EMOJI_API_KEY'] %>">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
      <% end %>
      <% if user_signed_in? %>
      <h3 data-flag-target="place"></h3>
    <% end %>
      </div>
    </div>
<h1 class="store-heading">Partner stores</h1>


<div class="container">
  <!-- Map Area -->
  <div class="row mb-3">
    <div class="col-12" style="height: 380px;"> <!-- Adjust height as needed -->
      <div data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
           id="map-container">
        <!-- Map will be displayed here -->
      </div>
    </div>
  </div>
<div class="links" >
  <div data-controller="geolocation">
    <a data-action="click->geolocation#search" class="btn">Near me</a>
  </div>
</div>
  <!-- Store Cards -->
  <div class="stores">
    <% @stores.each do |store| %>
      <hr class="store-divider">
      <div class="store">
        <i class="fa-solid fa-store"></i>
        <div class="store-details-one">
          <p class="store-name"><%= link_to store.name, store %></p>
          <p><%= store.address %></p>
          <p style="color: purple"><%= store.unique_code %></p>
        </div>
      <div class="store-details-two">
        <p class="card-text"><%= store.opening_time %></p>
        <p class="card-text"><%= store.closing_time %></p>
      </div>
    </div>
    <% end %>
  </div>

  <!-- New Store Button -->
  <div class="links">
    <div class="col-12 text-center mt-3">
    <%= link_to new_store_path, class: 'btn' do %>
    <i class="fa-solid fa-circle-plus"></i> New store
  <% end %>
    </div>
  </div>
</div>
</body>
