 <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
<h1>Stores</h1>

<div class="links" >
  <div data-controller="geolocation">
    <a class='button' data-action="click->geolocation#search" class="btn btn-primary">Near me</a>
  </div>
</div>

<div class="container">
  <!-- Map Area -->
  <div class="row mb-3">
    <div class="col-12" style="height: 300px;"> <!-- Adjust height as needed -->
      <div data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
           id="map-container">
        <!-- Map will be displayed here -->
      </div>
    </div>
  </div>

  <!-- Store Cards -->
  <div class="row">
    <% @stores.each do |store| %>
          <div class="transactions">
            <div class="transaction-divider">
              <div class="transaction">
                <p class="transaction-details-one"><%= link_to store.name, store %>
                <%= store.address %></p>
              </div>
            </div>
            <div class="transaction">
              <div class="transaction-details-two">
                <p class="card-text"><%= store.opening_time %></p>
                <p class="card-text"><%= store.closing_time %></p>
              </div>
            </div>
          </div>
    <% end %>
  </div>

  <!-- New Store Button -->
  <div class="links">
    <div class="col-12 text-center mt-3">
    <%= link_to new_store_path, class: 'btn' do %>
    <i class="fa-solid fa-circle-plus"></i> New store
  <% end %>
    </div>
  </div>
</div>
