<h1>New Store</h1>

<%= form_with(model: @store, url: stores_path, method: :post) do |form| %>
  <%= render 'shared/errors', object: @store %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.submit 'Create Store' %>
  </div>
<% end %>

<%= link_to 'Back', stores_path %>
