<h1><%= @store.name %></h1>
<p>Location: <%= @store.address %></p>

<% if policy(@store).edit? %>
  <%= link_to "Edit this store", edit_store_path(@store) %> |
<% end %>

<%= button_to "Destroy this store", @store, method: :delete if policy(@store).destroy? %>

<%= link_to 'Back', stores_path %>
