<div class="exchange-page" id="amount-section" data-controller="currency" data-currency-key-value="<%= ENV['EXCHANGE_API_KEY'] %>">
  <div class="hero">
    <div id="navhome" data-controller="flag" data-flag-key-value="<%= ENV['EMOJI_API_KEY'] %>">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
      <% end %>
      <% if user_signed_in? %>
      <h3 data-flag-target="place"></h3>
    <% end %>
      </div>
    </div>
    <h1 class="exchange-heading">How much do you want to convert?</h1>
  <div class="form-fields">
    <%= simple_form_for([@user, @transaction], html: { class: 'form-exchange' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :amount,  prompt: "Enter amount",
          input_html: { data: { currency_target: "amount" } },
          label_html: { style: "color: #495057; font-size: 16px;" } %>

        <!-- Sender Currency Dropdown -->
        <%= f.input :sender,  prompt: "Choose currency...",
          collection: @wallets.map { |wallet| wallet.currency },
          input_html: { data: { currency_target: "wallet" }, class: "custom-dropdown" },
          label_html: { style: "color: #495057; font-size: 16px;" } %>

        <!-- Receiver Currency Dropdown -->
        <%= f.input :receiver, prompt: "Choose currency...",
            collection: [],
            input_html: { data: { currency_target: "currency" }, class: "custom-prompt" },
            label_html: { style: "color: #495057; font-size: 16px;" } %>

        <%= f.input :rate, prompt: "Choose currency...",
            input_html: { data: { currency_target: "rates" } },
            as: :hidden %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-create-transaction' %>
      </div>
    <% end %>
  </div>

  <div class="d-none" class="card">
    <div id="checkout" data-currency-target="checkout">
      <h2>
        <i class="fa-solid fa-file-invoice-dollar"></i>
         <br>
         Does everything look right?
      </h2>
      <div class="checkout-details">
        <div class="checkout-details-one">
          <p data-currency-target="amountcheck">Amount:</p>
          <p>Currency:</p>
          <p data-currency-target="ratecheck">Rate:</p>
          <p data-currency-target="commcheck">Commission:</p>
          <p data-currency-target="totalcheck">Total:</p>
        </div>
        <div class="checkout-details-two">
          <p data-currency-target="amountcheck">0</p>
          <p data-currency-target="walletscheck">EUR USD</p>
          <p data-currency-target="ratecheck">1.2233</p>
          <p data-currency-target="commcheck">1.0</p>
          <p data-currency-target="totalcheck">100</p>
        </div>
      </div>
    </div>
  </div>
</div>
