<div id="amount-section" data-controller="currency" data-currency-key-value="<%= ENV['EXCHANGE_API_KEY'] %>">
  <h1 class="exchange-heading">Currency Exchange</h1>
  <div class="form-fields">
    <%= simple_form_for([@user, @transaction], html: { class: 'form-exchange' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :amount,  prompt: "Enter amount",
            collection: [],
            input_html: { data: { currency_target: "amount" } },
            label_html: { style: "color: #495057; font-size: 14px;" } %>

        <!-- Sender Currency Dropdown -->
        <%= f.input :sender,  prompt: "Choose currency...",
            collection: @wallets.map { |wallet| wallet.currency },
            input_html: { data: { currency_target: "wallet" }, class: "custom-dropdown" },
            label_html: { style: "color: #495057; font-size: 14px;" } %>

        <!-- Receiver Currency Dropdown -->
        <%= f.input :receiver, prompt: "Choose currency...",
            collection: [],
            input_html: { data: { currency_target: "currency" }, class: "custom-prompt" },
            label_html: { style: "color: #495057; font-size: 14px;" } %>

        <%= f.input :rate, prompt: "Choose currency...",
            input_html: { data: { currency_target: "rates" } },
            as: :hidden %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-create-transaction' %>
      </div>
    <% end %>
  </div>

  <div id="checkout" data-currency-target="checkout">
    <h2>CHECKOUT SUMMARY
      <i class="fa-solid fa-file-invoice-dollar"></i>
    </h2>
    <div class="thicker-line"></div>
    <p data-currency-target="amountcheck"><strong style="color: white; font-weight: normal">Amount:</strong> 0</p>
    <p data-currency-target="walletscheck"><strong style="color: white; font-weight: normal">EUR USD</strong></p>
    <p data-currency-target="ratecheck"><strong style="color: white; font-weight: normal">Rate:</strong> 1.2233</p>
    <p><strong style="color: white; font-weight: Normal">Commission:</strong> 1.0</p>
    <p data-currency-target="totalcheck"><strong style="color: white; font-weight: 600">TOTAL TO PAY:</strong> 101</p>
  </div>
</div>
