<!DOCTYPE html>
<html lang="en">
<head>
  <title>Offchangex - Currency Exchange</title>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-WkBD2H9R8jJD1zZzz5xUHCNbpDIv7gxx68bLpIFMM4cPL9Pe1R6uo/BH2E7FjjmHlpdI7u9qiXbI5TB+nqcc3dQ==" crossorigin="anonymous" />
  <!-- Include flag-icon-css library from CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
</head>

<body>

  <div id="navhome" data-controller="flag" data-flag-key-value="<%= ENV['EMOJI_API_KEY'] %>">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
    <% if user_signed_in? %>
      <h3 class="flag" data-flag-target="place"></h3>
    <% end %>
  </div>

  <div class="banner">
    <% if user_signed_in? %>
      <%= link_to wallets_path(current_user.main_wallet), class: 'wallet-info-link' do %>
        <%= render partial: 'shared/wallet_info' %>
        <%= link_to wallets_path,  class: "exchange-currency-button", style: "padding: 10px" do %>
          <span>WALLETS</span><i class="fa-solid fa-wallet"></i>
        <% end %>
      <% end %>
    <% else %>
      <h1>Hello, please sign in</h1>
    <% end %>
  </div>

  <div class="buttons">
    <%= link_to new_transaction_path, class: "exchange-currency-button" do %>
      <span>STORE</span><i class="fa-solid fa-store"></i>
    <% end %>
    <%= link_to exchange_path, class: "exchange-currency-button" do %>
      <span>EXCHANGE</span><i class="fa-solid fa-money-bill-trend-up"></i>
    <% end %>
  </div>

  <div class="currency-list-container" style="text-align: center">
    <h2>Favorite Currencies</h2>
    <p class="last-updated">
      Last updated <%= Time.now.strftime("%a, %e %b %Y %H:%M:%S") %>
    </p>

    <!-- Placeholder for USA flag image -->
    <div class="currency-rectangle">
      <div class="flag-icon flag-icon-us"></div>
      <div class="currency-details">
        <div class="currency-code">USD</div>
        <div class="currency-name">United States Dollar</div>
      </div>
      <div class="currency-value">
        <div class="top-value">1 USD = 1 USD</div>
        <div class="bottom-value">1 USD = 1 USD</div>
      </div>
    </div>

    <!-- EU flag using flag-icon-css -->
    <div class="currency-rectangle">
      <div class="flag-icon flag-icon-eu"></div>
      <div class="currency-details">
        <div class="currency-code">EUR</div>
        <div class="currency-name">Euro</div>
      </div>
      <div class="currency-value">
        <div class="top-value">1 EUR = 1.2 USD</div>
        <div class="bottom-value">1 USD = 0.8333 EUR</div>
      </div>
    </div>

    <!-- GB flag using flag-icon-css -->
    <div class="currency-rectangle">
      <div class="flag-icon flag-icon-gb"></div>
      <div class="currency-details">
        <div class="currency-code">GBP</div>
        <div class="currency-name">British Pound Sterling</div>
      </div>
      <div class="currency-value">
        <div class="top-value">1 GBP = 1.5 USD</div>
        <div class="bottom-value">1 USD = 0.6667 GBP</div>
      </div>
    </div>

  </div>

  <div class="card-container">
    <!-- Transaction button -->
    <!-- Add other elements within the card if needed -->
  </div>

</body>

</html>
