<!DOCTYPE html>
<html lang="en">
<head>
  <title>Offchangex - Currency Exchange</title>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-WkBD2H9R8jJD1zZzz5xUHCNbpDIv7gxx68bLpIFMM4cPL9Pe1R6uo/BH2E7FjjmHlpdI7u9qiXbI5TB+nqcc3dQ==" crossorigin="anonymous" />
</head>

<body>

  <div class="banner">
    <h1>Hello <%= current_user.first_name %>!</h1>
    <%= render partial: 'shared/dropdown' %>

    <%= link_to wallet_path(current_user.main_wallet), class: 'wallet-info-link' do %>
      <%= render partial: 'shared/wallet_info' %>
    <% end %>

    <div class="buttons">
      <%= button_to "CHANGE AT THE STORE", new_transaction_path, method: :get, class: 'store-button' %>
      <a href="<%= exchange_path %>" class="exchange-currency-button">EXCHANGE CURRENCY</a>
    </div>
  </div>

  <div class="currency-list-container">
    <h2>Favorite Currencies</h2>
    <p>Last updated <%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %></p>

    <div class="currency-rectangle">
      <div class="flag-icon flag-icon-us"></div>
      <div class="currency-details">
        <div class="currency-code">USD</div>
        <div class="currency-name">United States Dollar</div>
      </div>
      <div class="currency-value">
        <div class="top-value">1 USD = 1 USD</div>
        <div class="bottom-value">1 USD = 1 USD</div>
      </div>
    </div>

    <div class="currency-rectangle">
      <div class="flag-icon flag-icon-eu"></div>
      <div class="currency-details">
        <div class="currency-code">EUR</div>
        <div class="currency-name">Euro</div>
      </div>
      <div class="currency-value">
        <div class="top-value">1 EUR = 1.2 USD</div>
        <div class="bottom-value">1 USD = 0.8333 EUR</div>
      </div>
    </div>

    <div class="currency-rectangle">
      <div class="flag-icon flag-icon-gb"></div>
      <div class="currency-details">
        <div class="currency-code">GBP</div>
        <div class="currency-name">British Pound Sterling</div>
      </div>
      <div class="currency-value">
        <div class="top-value">1 GBP = 1.5 USD</div>
        <div class="bottom-value">1 USD = 0.6667 GBP</div>
      </div>
    </div>

    <div class="currency-rectangle add-currency">
      <%= link_to new_currency_path, class: 'add-currency-link' do %>
        <div class="add-currency-button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
      <div class="currency-details">
        <div class="currency-code">Add</div>
        <div class="currency-name">New Currency</div>
      </div>
      <div class="currency-value">
        <div class="top-value">1 NEW = 1 USD</div>
        <div class="bottom-value">1 USD = 1 NEW</div>
      </div>
    </div>

  </div>

  <div class="card-container">
    <!-- Transaction button -->
    <!-- Add other elements within the card if needed -->
  </div>

</body>

</html>
