<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

  <header>
    <h1 class="wallet-title">Your Wallets</h1>
  </header>

  <main>
    <div class="wallet-container">
  <% @wallets.each do |wallet| %>
    <%= link_to wallet_path(wallet) do %>
      <div class="wallet-item">
        <div class="card">
          <h2 class="card-title"><%= wallet.name %></h2>
          <p class="card-info"><%= wallet.currency %></p>
          <p class="card-balance"><%= wallet.balance %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
  </main>

  <div class="wallet-buttons">
    <%= link_to "Back", root_path, class: "btn btn-back" %>
    <%= link_to new_wallet_path, class: "btn btn-new-wallet" do %>
    New Wallet
    <% end %>
</div>

</body>
</html>
