<h1>Your Wallets</h1>

<div class="wallets-container">
  <% @wallets.each do |wallet| %>
    <%= link_to wallet_path(wallet[:id]) do %>
    <div class="wallet-item">
        <p><%= wallet.name %></p>
        <p><%= wallet[:currency] %></p>
        <p><%= wallet.balance %></p>
      </div>
  <% end %>
<% end %>
</div>

<%= link_to 'New Wallet', new_wallet_path %>
<%= link_to 'Back', root_path %>
