<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body class="wallets-page" style="background-image: none" data-turbolinks="false">

  <div class="hero">
    <div id="navhome" data-controller="flag" data-flag-key-value="<%= ENV['EMOJI_API_KEY'] %>">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
      <% end %>
      <% if user_signed_in? %>
      <h3 data-flag-target="place"></h3>
    <% end %>
      </div>
    </div>
<h1 class="exchange-heading">Your wallets</h1>

  <main>
    <div class="wallet-container">
      <% @wallets.each do |wallet| %>
        <%= link_to wallet_path(wallet) do %>
          <div class="wallet-item">
            <div class="card">
                <!-- Your logo content here, e.g., an image or text -->
                <i class="fa-solid fa-wallet"></i>
              <h2 class="card-title"><%= wallet.name %></h2>
              <p class="card-balance"><%= number_with_precision(wallet.balance, precision: 2, delimiter: ',') %></p>
              <p class="card-info"><%= wallet.currency %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </main>

  <div class="wallet-buttons">
    <%= link_to "Back", root_path, class: "btn btn-back" %>
    <%= link_to new_wallet_path, class: "btn btn-new-wallet" do %>
      <i class="fa-solid fa-circle-plus"></i>
    <% end %>
  </div>

</body>
</html>
