<body style="background-image: none">
<div class="wallet-details">
  <div class="hero">
    <div class="logo">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>
    <div class="balance-bar">
        <h3><%= @wallet.currency %> Balance</h3>
        <h4><%= @wallet.name %></h4>
        <h2><%= number_to_currency(@wallet.balance, unit: @wallet.currency, precision: 2, format: "%n %u") %></h2>
    </div>
    <div class="checkout-bar">
        <% if @wallet.main == true %>
        <%= form_tag payments_path do %>
        <h6><i class="fa-solid fa-circle-plus"></i> Add funds</h6>
    <div class="field-group">
      <%= text_field_tag(:amount, params[:amount], class: 'form-control') %> <%= @wallet.currency %>
    </div>

    <div class="stripe-button-group">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Updating your wallet"
              data-amount="10000"
              data-locale="auto">
      </script>
    </div>

      <% end %>
      <% end %>
    </div>
  </div>

  <h2>Transactions</h2>
  <div class="transactions">
    <% @wallet.transactions_as_sender.group_by { |t| t.created_at.to_date }.sort_by { |date, _transactions| -date.to_time.to_i }.each do |date, transactions| %>
      <h3><%= date.strftime("%B %e, %Y") %></h3> <!-- Display the date title -->
      <hr class="transaction-divider">
      <% transactions.sort_by { |t| -t.created_at.to_time.to_i }.each do |tran| %> <!-- Iterate through transactions for that date in reverse order -->
        <div class="transaction">
          <% if tran.receiver.user.category != "store" %>
            <i class="fa-solid fa-circle-arrow-up"></i>
          <% else %>
            <i class="fa-solid fa-circle-arrow-down"></i>
          <% end %>
          <div class="transaction-details-one">
            <% if tran.receiver.user.category != "store" %>
              <p>Exchanged with: <%= tran.receiver.currency %></p>
            <% else %>
              <p><%= tran.receiver.user.stores[0].name %>, <%= tran.receiver.user.stores[0].address %></p>
            <% end %>
            <p class="lighten"><%= tran.status.capitalize %></p>
          </div>
          <div class="transaction-details-two">
            <p><%= number_with_precision(tran.amount, precision: 2) %> <%=  @wallet.currency %></p>
            <p class="lighten"><%= tran.created_at.strftime("%l:%M %p") %></p> <!-- Only showing the time here -->
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="links">
    <% if policy(@wallet).edit? %>
  <%= link_to exchange_path(@wallet), class: 'btn btn-primary' do %>
    <i class="fa-solid fa-circle-plus"></i> Add money
  <% end %>
<% end %>

    <%= button_to "Destroy this wallet", @wallet, method: :delete if policy(@wallet).destroy? %>
    <%= link_to 'Back', wallets_path, class: 'back-link' %>
  </div>
</div>
</body>
