<div class="wallet-details">
  <h1><%= @wallet.name %> Wallet details</h1>
  <h2><%= @wallet.balance %> <%= @wallet.currency %></h2>

<h2><%= @wallet.balance %> <%= @wallet.currency %></h2>
<% @wallet.transactions_as_sender.each do |tran| %>
  <p><%= tran.amount %></p>
  <p><%= tran.created_at.strftime("%b %e, %l:%M %p") %></p>
  <% if tran.receiver.user.category != "store" %>
    <p>Exchanged with: <%= tran.receiver.currency %></p>
  <% else %>
    <p><%= tran.receiver.user.stores[0].name %></p>
    <p><%= tran.receiver.user.stores[0].address  %></p>
  <% end %>
<% end %>
</div>


<% if policy(@wallet).edit? %>
  <%= link_to "Load Amount in Exchange", exchange_path(@wallet), class: 'btn btn-primary' %> |
<% end %>

<%= button_to "Destroy this wallet", @wallet, method: :delete if policy(@wallet).destroy? %>
<%= link_to 'Back', wallets_path, class: 'back-link' %>
