<%= simple_form_for([@user, @transaction], html: { class: 'form-exchange' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="field">
    <%= f.label :amount %>
    <%= f.input :amount, label: false %>
  </div>

  <div class="field">
    <%= f.label "Code store" %>
    <%= f.input :receiver, label: false %>
  </div>

  <div class="field">
    <%= f.label "From wallet" %>
    <%= f.input :sender, collection: current_user.wallets, label: false %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Send money", style: 'background: linear-gradient(to bottom, rgba(33, 36, 146, 0.7), rgba(98, 42, 163, 0.7)); padding: 10px; text-decoration: none; color: #ffffff; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;' %>
  </div>
<% end %>
