<%= simple_form_for([@user, @transaction], html: { class: 'form-exchange' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="field">
    <%= f.label :amount %>
    <%= f.input :amount, label: false %>
  </div>

  <div class="field">
    <%= f.label "Store code" %>
    <%= f.input :receiver, label: false,
    input_html: { data: { store_target: "code" }} %>
  </div>

  <div class="field">
    <%= f.label "From wallet" %>
    <%= f.input :sender, collection: current_user.wallets, label: false %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Send money", style: 'background-image: linear-gradient(to bottom, #622aa3, #212492); padding: 10px; text-decoration: none; color: goldenrod; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;' %>
  </div>
<% end %>
