<!DOCTYPE html>
<html>
  <head>
    <title>OffChangeX</title>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%# <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'exchange' %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">

<%= javascript_tag 'wallet_form' %>
<%= javascript_tag 'application' %>


    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">

  </head>

  <body class="<%= body_classes %>">
    <div class="content">
      <%= render "shared/navbar" unless body_classes.include?('exclude-navbar') %>
      <%= yield %>
      <%= render "shared/flashes" %>
    </div>
    <div class="footer">
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
